{% extends 'EllisDotComMainBundle:Pages:base.html.twig' %}
{% block content %}
{# about page extends the base twig template and defines its content as below #}
    <section id="content">
        <article>
            <h3 class="smaller">ABOUT</h3>
                <section class="row">
                    <img src="{{ asset ('img/style/about.jpg') }}" class="span6">
                    <article class="span6">
                        <p>After discovering a remarkable ability to colour (mostly) inside the lines of the early magnum opus ‘Where’s Spot? Colouring Book’ Kate Ellis went from strength to strength in the field of fine art, illustration and assorted creativity.</p>

                        <p>She has taken this prodigious gift and turned it towards producing some of the most startling and profound renderings ever created of Mick Hucknall’s formidable rusty visage. Her 1997 piece entitled ‘Pauline Quirke’ won the Turner prize and garnered international critical acclaim.</p> 

                        <p>Now in her twilight years, Ellis has found renewed focus and energy and is embarking on creating a smorgasbord of illustrated scenes, characters and emotive creatures. With a wild and barely wielded imagination she continues to dazzle, impress, confound and constipate her devotees and critics alike.</p> 
                        
                        <p>Now based in London and floating outside your window at night tapping on the glass asking to be let in, Kate Ellis remains one of the country’s premier experts on identifying obscure character actors in film and TV. Oh and she draws.</p> 
                    </article>
                </section>
        </article>
    </section>
{% endblock %}